body {
    margin:0;
    padding: 0;

}

.curved{
    background-color: #ff3c00;
    color: #fff;
    text-align: center;
}
.curved h1{
    font-size: 6rem;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.curved p{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 5rem 0 5rem;
}

.curved svg {
    display: block;
}
.curved-upper svg {
    display: block;
}
.curved-upper{
    background: #fff;
    margin: 0;
    padding: 0;
}
